# Server Configuration
PORT=3001
NODE_ENV=development

# Clerk Auth (from Dashboard -> API Keys)
CLERK_SECRET_KEY=sk_test_...

# Supabase database connection (from Dashboard -> Project Settings -> API)
SUPABASE_URL=https://...
SUPABASE_SERVICE_ROLE_KEY=ey...

# Redis connection (optional, defaults to local redis)
REDIS_URL=redis://localhost:6379
